permissions:
    contents: read
    checks: write
    id-token: write

env:
  REPOSITORY_BASE: registry.gitlab.com/lava/ci-images

name: "LAVA test job"
on:
  workflow_call:
    inputs:
      ci_job_stage:
        required: false
        type: string
        default: "test"
      arch:
        required: true
        type: string
      component:
        required: true
        type: string
      distro:
        required: true
        type: string
      version:
        required: true
        type: string

jobs:
  get_container_name:
    runs-on: ubuntu-latest
    outputs:
      container_name: ${{ steps.vars.outputs.container_name }}
    steps:
      - id: vars
        run: echo "container_name=$REPOSITORY_BASE/${{ inputs.arch }}/${{ inputs.component }}-${{ inputs.distro }}-${{ inputs.version }}" >> $GITHUB_OUTPUT
  lava-test:
    needs: get_container_name
    runs-on: ubuntu-latest
    container:
      image: "${{ needs.get_container_name.outputs.container_name }}"
    steps:
      - name: checkout repo
        uses: actions/checkout@v6
      - run: git config --global --add safe.directory $PWD
      - run: /root/entrypoint.sh || true
      - run: ./.gitlab-ci/${{ inputs.ci_job_stage }}/${{ inputs.arch }}/${{ inputs.component }}-${{ inputs.distro }}-${{ inputs.version }}.sh setup
      - run: ./.gitlab-ci/${{ inputs.ci_job_stage }}/${{ inputs.arch }}/${{ inputs.component }}-${{ inputs.distro }}-${{ inputs.version }}.sh
      - name: Publish Test Report
        uses: mikepenz/action-junit-report@v5
        if: success() || failure() # always run even if the previous step fails
        with:
          report_paths: "${{ inputs.component }}.xml"
